
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitto_about_us</title>
    <link rel="stylesheet"  type="text/css"  href="{{url_for('static',filename='styles/about_us.css')}}">
    <link rel="stylesheet"  type="text/css"  href="{{url_for('static',filename='styles/font.css')}}">
</head>
<body>
    <!--Header-->
    <header class ="header" id="intro">
  
        <div class="hero-div center container">
            <h1>ABOUT US</h1>
            <p>For various tasks, you may need to collect media from trending hashtags or a simple keyword. Twitter is an online social networking site where people communicate in short messages called tweets. Along with tweets people sometimes post images regarding particular news or content they want to share. Thus extracting media images regarding a particular trending hashtag or movement going around becomes difficult from it.<br>Twitto will help you to solve this problem by extracting media from Twitter using a keyword only. This can save your coworkers and your time that would've otherwise been spent on mundane media collection tasks. It can be done by simply clicking on the search bar and entering the keyword for what you want to search media and that's it.</p>
        </div>
    </header>
    <!--End of header-->

    
</body>
</html>