<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitto</title>
    <link rel="stylesheet"  type="text/css"  href="{{url_for('static',filename='styles/font.css')}}">
    <link rel="stylesheet"  type="text/css"  href="{{url_for('static',filename='styles/contact_us.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
</head>
<body>
    <!--Header-->
    <header class ="header" id="intro">
        <div class="hero-div center container">
            <h1>CONTACT  OWNER</h1>
            <div class="fa">
              <a href="https://twitter.com/shreya_madhwal" target="_blank" class="fa fa-twitter">             Twitter Handle</a>
              <a href="https://www.linkedin.com/in/shreya-madhwal-15690b212" target="_blank" class="fa fa-linkedin">                  Linkedin Handle</a>
              <a href=" https://github.com/shreya-madhwal" target="_blank" class="fa fa-github">                    Github Handle</a>
    </header>
    <!--End of header-->

    
</body>
</html>