<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitto</title>
    <link rel="stylesheet"  type="text/css"  href="{{url_for('static',filename='styles/login.css')}}">
    <link rel="stylesheet"  type="text/css"  href="{{url_for('static',filename='styles/font.css')}}">
</head>
<body>
    <!--Header-->
    <header class ="header" id="intro">
        <nav class="navbar">
            <div class="container">
                <h2>TWITTO</h2>
            </div>
        </nav>

        <div class="hero-div center container">
            <h1>This Application will help you to extract media from Twitter</h1>
            <form action="http://127.0.0.1:5000/login" method="POST" >
                <!-- <label for="nm">Name</label> -->
                <p>Enter hashtag Below:</p>
               <p> <input type="text" name="nm">
                <input type="submit"  value="submit"> </p>
            </form>
            <div class="hero-btns">
                <a href="http://127.0.0.1:5000/about_us"><button type="button" class="btn-trans">ABOUT TWITTO</button></a>
                <a href="http://127.0.0.1:5000/contact_us"><button type="button" class="btn-trans">CONTACT OWNER</button></a>
            </div>
        </div>
    </header>
    <!--End of header-->

    
</body>
</html>